<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.company.mapper.Company_JmrProfessionMapper">

    <resultMap id="JmrProfessionResult" type="Company_JmrProfession">
        <result property="id" column="p_id"/>
        <result property="pmclass" column="p_m_class"/>
        <result property="psclass" column="p_s_class"/>
    </resultMap>

    <select id="selectJmrProfessionList" resultMap="JmrProfessionResult">
        select * from jmr_profession
    </select>
</mapper>